.DS_STORE
*.log

_*
.eslintcache
.nyc_output/
node_modules/
rethinkdb_data/
.happypack
.coveralls.yml

cypress/screenshots/
cypress/videos/
dist/**
coverage
reports/coverage/**
reports/plato/**

.coveralls.yml

tmp/
.idea/

tests/integration/videos/
tests/integration/screenshots/
