ul li {
  white-space: nowrap;
}
ul li span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.title {
}

.artist {
}

.icons {
}

.progress {
  color: #3333aa;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.difficulty {
  // width: 18px;
  // height: 18px;
  // padding-top: 2px;
  // vertical-align: middle;
  // text-align: center;
  // border-radius: 50%;
  color: white;
  font-size: 11px;
  font-weight: bold;
  // background: black;
}
