// TODO: implement media queries outside of css with redux-responsive

ul li {
  white-space: nowrap;
}
ul li span {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 450px) {
  tr {
    height: 25px !important;
    td {
      height: 25px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .title {
      width: 50%;
    }
    .artist {
      width: 40%;
    }
    .difficulty {
      width: 20%;
    }
    .progress {
      display: none;
    }
  }
}

.progress {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.difficulty {
  // width: 18px;
  // height: 18px;
  // padding-top: 2px;
  // vertical-align: middle;
  // text-align: center;
  // border-radius: 50%;
  color: white;
  font-size: 11px;
  font-weight: bold;
  // background: black;
}
