.songsList {
  width: 100%;
  th a {
    font-size: 1.2em;
  }
  .artist {
  }
  .progress {
    width: 150px;
  }
  .difficulty {
    width: 100px;
  }
  @media (max-width: 450px) {
    .progress {
      display: none !important;
    }
    .title {
      width: 50%;
    }
    .artist {
      width: 40%;
    }
    .difficulty {
      width: 20%;
    }
  }
}


