.paginationRow {
  text-align: center;
  font-size: 0.85em;
  border-top: ridge 1px #666;
  margin: 0px 5px !important;
  font-variant: small-caps;

  .beginning,
  .end {
    @media (max-width: 500px) {
      display: none !important;
    }
  }

  .buttonWrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .paginationText {
    display: table;
    height: 100%;
    width: 100%;
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .centerPageTotal {
    margin-left: -10px;
  }
}

