@import 'base';
@import '~normalize.css/normalize';
@import '~typeface-roboto/index.css';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


// fixes incompatibility between normalize.css and material-ui
// https://github.com/callemall/material-ui/issues/4008
span[type=button] {
  appearance: none;
}
a[type=button] {
  appearance: none;
}

// negates foundation's table color setting
table tbody, table tfoot, table thead {
  border: none !important;
  background-color:inherit !important;
}

table tbody tr:nth-child(even) {
  background-color: inherit !important;
}

table {
  margin-bottom: 0;
}

// fix for autofill override transparent text fields
// http://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

