// @import "core.scss";

.settingsContainer {
    text-align: center;
    position: relative;

    .fieldHint {
      opacity: 0.5;
      font-size: 0.9em;
    }
    .settingsForm {
      text-align: center;
      margin-top: 25px;
      label {
        // text-align: left;
      }
      input {
        text-align: center;
        margin: 0;
      }
    }

    .emailCheckboxes {
      padding: 20px 0px;
    }
    .bottom {
      margin-top: 15px;
    }

    .buttonWrapper {
      padding-top: 10px;
      padding-bottom: 25px;
    }

}
