
.addSongModal {
  &.view { }
  &.add { }
  &.edit { }

  form {

    input {
      margin: 0;
    }


    .imageFrame {
      text-align: center;
      img {
        height: 200px;
        margin-bottom: 5px;
      }
    }
    .fieldGroup {
      width: 100%;
      max-width: none;
      display: flex;
      flex-wrap: wrap;
      box-align: stretch;
      align-items: stretch;
      justify-content: space-around;
    }

    .flexTwo{
      flex: 0 0 250px;
      width: 250px;
    }
  }
}

