.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.actionBar {
  padding: 10px 5px;
  background: #2b2d30;
  text-align: center;
  font-size: 1.0em;
}

.actionBar a {
  white-space: nowrap;
  color: #aaaacc;
  text-decoration: none;
}

.actionBar a svg {
  margin-right: 5px;
}

