.header {
  background: #2b2d30;
  text-align: center;
  font-size: 1.0em;

  a {
    white-space: nowrap;
    color: #aaaacc;
    text-decoration: none;
    vertical-align: middle;
  }

  .wrapper {
    height: 45px;
  }

  .headerLink {
    width: 100%;
    height: 100%;
    display: table;
  }

  .leftColumn.headerLink:hover {
    background-color: inherit;
  }

  .headerLink:hover {
    background-color: rgba(255, 255, 255, 0.078430);
  }

  .headerLink span {
    display: table-cell;
    vertical-align: middle;
  }

  .menuIcon {
    margin-right: 10px;
    font-size: 1.5em;
  }

  .menuIcon:hover,
  .homeLink:hover {
    background-color: none;
  }

  &.loggedIn {
    .profileDisplay {
      display: inline-block;
      .profilePoints {
        font-size: 1.3em;
        line-height:1.3em;
      }
      .profileName {
        font-size: 0.8em;
        line-height: 0.8em;
      }
    }
    .profileAvatar {
      margin-top: 2px;
      display: inline-block;
      width: 50px;
      margin-left: 5px;
    }
  }

  &.loggedOut {
    .loginButton {
      margin-right: 5px;
    }
  }
}



