.header {
  text-align: center;
  font-size: 1.0em;
  a {
    color: inherit;
    height: 100%;
  }

  .wrapper {
    height: 45px;
  }


  .headerLeft {
    padding: 0px 0px 0px 15px;
    text-align: left;

    .headerLink:hover {
      background-color: inherit;
    }
    .menuIcon {
      margin-right: 15px;
      font-size: 1.5em;
      line-height: .8em;
    }

    .homeLink,
    .menuIcon {
      vertical-align: middle;
      text-decoration: none;
    }

    .menuIcon:hover,
    .homeLink:hover {
      background-color: none;
    }
    .menuIcon:hover  {
      stroke: white;
    }

    .homeLink:hover {
      text-shadow: 0px 0px 3px rgba(255,255,255,0.3), 0px -0px 3px rgba(255,255,255,0.5);
    }
  }

  .headerMiddle {
    .downArrow {
      &:hover {
        stroke: white;
      }
      font-size: 1.5em;
      margin-left: 5px;
    }
    .headerLinkActive {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .headerRight {
    text-align: right;
    padding: 0px;

    .headerLink {
      display: inline-block;
    }
    .profileDisplay {
      vertical-align: middle;
      width: calc(100% - 55px);
      display: inline-block;
      .profilePoints {
        font-size: 1.3em;
        line-height:1.3em;
      }
      .profileName {
        font-size: 0.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 0.8em;
      }
    }
    .profileAvatar {
      vertical-align: middle;
      margin-top: 2px;
      display: inline-block;
      width: 50px;
      margin-left: 5px;
    }
    .loginButton {
      margin-right: 5px;
    }
  }
}


/* these must be outside of header to apply to popovers */

.icon{
  margin-left: -5px;
  margin-right: 5px;
}

.icon,
.iconText {
  display: inline-block;
  vertical-align: middle;
}

.iconWrapper {
  display: table-cell;
  vertical-align: middle;
}

.headerLink {
  width: 100%;
  height: 100%;
  display: table;
  text-decoration: none;
  vertical-align: middle;
  &:hover {
    background-color: rgba(255, 255, 255, 0.078430);
  }
}
.menuPopover {
  width: 18%;
  @media (max-width: 640px) {
    width: 33%;
  }
  .row {
    height: 45px;
    .column {
      padding: 0px;
      text-align:: center;
      height: 100%;
      a {
        padding: 5px 0px;
      }
    }
  }
}

.searchText {
  // margin: 0px;
}
