.footerWrapper {
  color: white;
  .footerStats,
  .footerSong,
  .footer {
    height: 75px;
  }
}

.footerSong {
  width: 95%;

  .artistPicture,
  .instrumentPicture {
    height: 75px;
    display: inline-block;
  }
  .artistPicture {
    margin-left: 20px;
  }
  .artistName {
    font-size: 0.8em;
    display: inline-block;
    width: 80%;
  }
  .genreName {
    font-variant: small-caps;
    display: inline-block;
  }
  .songTitle {
    margin-top: 10px;
    font-size: 1.2em;
  }

  .rightColumn {
    margin-top: 10px;
  }

}

.footerStats {
  font-size: 0.8em;
  height: 100%;
  .leftColumn,
  .middleColumn,
  .rightColumn {
    text-align: center;
  }
  .fieldWrapper {
    margin-left: auto;
    margin-right: auto;
    display: table;
    height: 100%;
    .field {
      display: table-cell;
      vertical-align: middle;
    }
    span {
      display: block;
      width: 100%;
    }
  }
}
