.appWrapper {
  background: #441111;
  width: 100%;
  min-height:100vh;
}

.contentWrapper {
  padding: 5px;
  min-width: 280px;
  max-width: 1025px;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.contentWrapper
> div:first-child
> div:first-child
> div:first-child {
  padding: 30px;
  margin: 30px;
}
