// @import "core.scss";

.fieldsContainer {
  text-align: center;
  position: relative;
  margin: 20px 0px !important;
  padding: 0px !important;

  .fieldsForm {
    margin-left: auto;
    margin-right: auto;
    margin: 25px 5px 5px 5px;
    text-align: center;

    .fieldAdd,
    .buttons,
    .extraFields,
    .tabbedField {
      display: flex;
      max-width: none;
      flex-wrap: wrap;
      box-align: stretch;
      align-items: center;
      justify-content: space-around;
    }
    .fieldAdd {
      padding: 0px 20px;
    }
    .buttons {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .flexThree {
      width: 175px;
      flex: 0 0 175px;
    }

    .flexTwo {
      width: 255px;
      flex: 0 0 255px;
    }
    .extraFields {
      margin-left: auto;
      margin-right: auto;
      .selectOptions {
        margin-top: 10px;
        max-width: 550px;
        max-height: 400px;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .flexThree {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .fieldList {
      margin: 10px;
      padding-bottom: 10px;
      .tabName,
      .tabCount,
      .tabNumber {
        width: 30%;
        display: inline-block;
      }
      .tabNumber {
        text-align: left;
        font-weight: bold;
        font-variant: small-caps;
        font-size: 0.8em;
        opacity: 0.8;
      }
      .tabCount {
        text-align: right;
        font-variant: small-caps;
        opacity: 0.8;
        margin-right: 10px;
        font-size: 0.8em;
      }
      .tabbedField {
        border-radius: 10px;
        border: solid 1px #456;
        margin-bottom: 5px;
        margin-right: 0;
        margin-left: 0;
        min-height: 75px;
        &.active {
          border: solid 1px rgb(170,180,204);
          background-color: rgba(170, 180, 204, 0.1);
        }
        .fieldPreviewLabel {
          text-align: left;
          font-size: 0.8em;
          font-variant: small-caps;
          margin: 5px 0px -20px 0px;
          padding: 0px;
        }
        .fieldValue,
        .fieldButtons,
        .fieldLabel {
          display: inline-block;
          font-size: 0.8em;
          text-align: right;
        }
        .fieldLabel {
          font-variant: small-caps;
          width: 25%;
        }
        .fieldValue {
          width: 75%;
        }
        .fieldButtons {
          width: 60px;
          float: right;
          font-size: 1.0em;
        }
      }
    }
  }
}
